body {
  display: grid;
place-content: center;
align-items: center;
background:  darkslategray;
}

.container {
  max-width:  500px;
  margin: 10% auto;
  padding-top: 100px;

display: block;
}



svg {
  width: 100%;

} 



@media (max-width: 200px) {
  svg {
    width:  50%;
  } 
}

