body {
  display: grid;

place-items: center;

background:  rgb(35, 39, 39)
}

.container {
  max-width:  400px;
 
  padding-top: 5%;
  margin: 10%  auto;


}



svg {
  width: 100%;

} 



@media (max-width: 200px) {

  
  svg {
    width:  50%;
  
  } 
}

